In [7]:
bool?

Init signature: bool(self, /, *args, **kwargs)
Docstring:
bool(x) -> bool

Returns True when the argument x is true, False otherwise.
The builtins True and False are the only two instances of the class bool.
The class bool is a subclass of the class int, and cannot be subclassed.
Type:           type
Subclasses:

In [1]:
print(3 == 5)

False

In [9]:
print(3 < 5)

True

In [11]:
x = 4
print(1 < x < 5)

True

In [13]:
print ((3 == 3) and (4 != 3))

True

In [15]:
print(3 => 4)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3774565717.py, line 1)

In [17]:
print(3 >= 4)

False

In [21]:
print(3 <= 4)

True

In [23]:
if 4 < 3:
    print("Hello World")

In [25]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [27]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [33]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [35]:
user = input("입력:")
print(user * 2)

입력: 안녕하세요

안녕하세요안녕하세요

In [37]:
user = input("숫자를 입력하세요: ")
print(10 + int(user))

숫자를 입력하세요:  30

40

In [41]:
user = input("숫자를써봐")
if int(user) % 2 == 0:
    print("짝수")
else:
    print("홀수")

숫자를써봐 25

홀수

In [43]:
user = input("입력값: ")
num = 20 + int(user)
if num > 255:
    print(255)
else:
    print(num)

입력값:  240

255

In [45]:
user = input("입력값: ")
num = 20 + int(user)
if num > 255:
    print(255)
else:
    print(num)

입력값:  220

240

In [51]:
user = input("입력값: ")
num = int(user) - 20
if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)

입력값:  30

10

In [53]:
time = input("현재시간: 00:00 입력해")
if time[-2:] == "00":
    print("정각")
else:
    print("정각X")

현재시간: 00:00 입력해 12:45

정각X

In [61]:
fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은?")
if user in fruit:
   print("정답")

else:
    print("오답")

좋아하는 과일은? 키위

오답

In [67]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input("종목명")
warn_investment_list
if user in warn_investment_list:
    print("X투자위험")

else :
    print("o투자가능")

종목명 테스

o투자가능

In [69]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
c = input("내가 좋아하는 계절은")
if c in fruit:
   print("정답")
else :
   print("오답")

내가 좋아하는 계절은 봄

정답

In [77]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a = input("좋아하는 과일은?")
if a in fruit.values():
  print("정답")
else :
  print("오답")

좋아하는 과일은? 토마토

정답

In [81]:
user = input("")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

 A

a

In [83]:
score = input("score: ")
score = int(score)
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

score:  100

grade is A

In [103]:
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력:  100 달러

116700.0 원

In [105]:
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1:  4
input number2:  7
input number3:  8

8

In [113]:
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

휴대전화 번호 입력:  011-24-5678

당신은 SKT 사용자입니다.

In [115]:
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호:  010

강북구

In [117]:
주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호:  121212-12121212

남자

In [119]:
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호:  121212-1245324

서울이 아닙니다.

In [123]:
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호:  121213-1974381

유효하지 않은 주민등록번호입니다.

In [127]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

In [130]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [132]:
변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C

In [134]:
변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C

In [136]:
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

In [138]:
변수 = "A"
b = 변수.lower()
print("변환:", b)

변환: a

In [140]:
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [142]:
for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [144]:
print("++++")
for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30

In [146]:
리스트 = [100, 200, 300]
for 변수 in 리스트:
  print(변수 + 10)

110
210
310

In [148]:
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
  print("오늘의 메뉴:", 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [150]:
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
  print("오늘의 메뉴: " + 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [152]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목명 in 리스트:
  print(len(종목명))

6
4
4

In [154]:
리스트 = ['dog', 'cat', 'parrot']
for 이름 in 리스트:
  print(이름, len(이름))

dog 3
cat 3
parrot 6

In [156]:
리스트 = ['dog', 'cat', 'parrot']
for 이름 in 리스트:
  print(이름[0])

d
c
p

In [158]:
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x " + str(변수))

3 x 1
3 x 2
3 x 3

In [164]:
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x", 변수, "=", 3 * 변수)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [162]:
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x {} = {}".format(변수, 3 * 변수))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [166]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[1:]:
  print(변수)

나
다
라

In [172]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[ 0::2]:
  print(변수)

가
다

In [196]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[  ::-1]:
  print(변수)

라
다
나
가

In [202]:
 리스트 = [3, -20, -3, 44]
 for 변수 in 리스트:
   if 변수 < 0:
     print(변수)

-20
-3

In [204]:
리스트 = [3, 100, 23, 44]
for 변수 in 리스트:
  if 변수 % 3 == 0:
    print(변수)

3

In [206]:
리스트 = [3, 100, 23, 44]
for 변수 in 리스트:
  if 변수 % 3 == 0:
    print(변수)

3

In [208]:
리스트 = ["I", "study", "python", "language", "!"]
for 변수 in 리스트:
  if len(변수) >= 3:
    print(변수)

study
python
language

In [210]:
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper():
    print(변수)

A
D

In [212]:
리스트 = ['dog', 'cat', 'parrot']
for 변수 in 리스트:
  print(변수[0].upper() + 변수[1:])

Dog
Cat
Parrot

In [214]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for 변수 in 리스트:
  split = 변수.split(".")
  print(split[0])

hello
ex01
intro

In [216]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
  if split[1] == "h":
    print(변수)

intra.h
define.h

In [218]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
  if (split[1] == "h") or (split[1] == "c"):
    print(변수)

intra.h
intra.c
define.h